<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91581362147-btnbd1r4h6ujuh8ch3tulv3vlup76ffa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91581362147-btnbd1r4h6ujuh8ch3tulv3vlup76ffa</string>
	<key>API_KEY</key>
	<string>AIzaSyDAcGG6-QrHTvchaH2mYDyyRwUY2eve1pg</string>
	<key>GCM_SENDER_ID</key>
	<string>91581362147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-2-3c9b7</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-2-3c9b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91581362147:ios:a9bab611e9ac7666aafad6</string>
</dict>
</plist>